{% extends ':Frontpage:base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
    .panel:hover {
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for member in members %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-default" data-toggle="modal" data-target="#modalShow{{ member.id }}">
                        <div class="panel-body">
                            {% if member.photography %}<img class="img-responsive img-rounded" src="{{ vich_uploader_asset(member, 'file')|imagine_filter('member_photography_large') }}"/>
                            {% else %}<img class="img-responsive img-rounded" src="{{ 'default'|imagine_filter('member_photography_large') }}"/>{% endif %}
                        </div>
                        <div class="panel-footer text-center">
                            <h4 class="name"><strong>{% if member.name %}{{ member.name }}{% endif %}</strong></h4>
                            <p><em>{% if member.role %}{{ member.role.name }}{% else %}&nbsp;{% endif %}</em></p>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalShow{{ member.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            {#}
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            {#}
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 nopadding">
                                    {% if member.photography %}<img class="img-responsive img-rounded" src="{{ vich_uploader_asset(member, 'file')|imagine_filter('member_photography_large') }}"/>
                                    {% else %}<img class="img-responsive img-rounded" src="{{ 'default'|imagine_filter('member_photography_large') }}"/>{% endif %}
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <h1>{% if member.name %}{{ member.name }}{% endif %}</h1>
                                    <dl class="dl-horizontal">
                                        {% set courses = [] %}
                                        {% for course in member.courses %}{% set courses = courses|merge([course.name]) %}{% endfor %}
                                        {% set previousroles = [] %}
                                        {% for previousrole in member.previousroles %}{% set previousroles = previousroles|merge([previousrole.name]) %}{% endfor %}
                                        {% if member.code %}<dt>{{ 'member.form.code'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ member.code }}</dd>{% endif %}
                                        {% if courses %}<dt>{{ 'member.form.courses'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ courses|join(', ') }}</dd>{% endif %}
                                        {% if member.birthdate %}<dt>{{ 'member.form.birth_date'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ member.birthdate|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL, Y") }}</dd>{% endif %}
                                        {% if member.admissiondate %}<dt>{{ 'member.form.admission_date'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ member.admissiondate|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL, Y") }}</dd>{% endif %}
                                        {% if member.role %}<dt>{{ 'member.form.role'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ member.role.name }}</dd>{% endif %}
                                        {% if previousroles %}<dt>{{ 'member.form.previous_roles'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ previousroles|join(', ') }}</dd>{% endif %}
                                        {% if member.email %}<dt>{{ 'member.form.email'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ member.email }}</dd>{% endif %}
                                        {% if member.phone %}<dt>{{ 'member.form.phone'|trans({}, 'UnisystemMemberBundle') }}</dt><dd>{{ member.phone }}</dd>{% endif %}
                                    </dl>
                                    {#}
                                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-label="Close">{{ icon('times fa-fw') }}&nbsp;Cerrar</button>
                                    {#}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>    
{% endblock %}
