{% extends 'UnisystemFrontpageBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Academia</h1>
                </div>
            </div>
            {% for academy in academies %}
                <div class="col-xs-12">
                    <div class="jumbotron">
                        {% if academy.name %}<h1>{{ academy.name }}</h1>{% endif %}
                        {% if academy.place %}<h4>{{ icon('map-marker fa-fw') }}{{ academy.place }}</h4>{% endif %}
                        {% if academy.schedule %}<h4>{{ icon('calendar fa-fw') }}{{ academy.schedule|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}</h4>{% endif %}
                        {% if academy.description %}<p>{{ academy.description }}</p>{% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
