{% extends 'UnisystemFrontpageBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Acceso Restringido</h3>
                    </div>
                    <div class="panel-body">
                        {% if error %}<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>{% endif %}
                        <form method="post" action="{{ path('unisystem_frontpage_login') }}">
                            <div class="form-group">
                                <label class="control-label required" for="username">Usuario</label>
                                <input type="text" id="username" name="_username" required="required" class="form-control" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <label class="control-label required" for="password">Password</label>
                                <input type="password" id="password" name="_password" required="required" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <button type="submit" class="btn btn-primary pull-right">{{ icon('sign-in') }}&nbsp;Ingresar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
