{% extends 'UnisystemFrontpageBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheet %}
<style type="text/css">
.navbar {
    margin-bottom: 0;
}
.main-text-md
{
    position: absolute;
    top: 30%;
    width: 100%;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.main-text-md .title {
    font-size: 60px;
}
.main-text-sm
{
    position: absolute;
    top: 20%;
    width: 100%;
    color: #FFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.main-text-sm .title {
    font-size: 50px;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}
</style>
<style type="text/css">
    .notice-row {
        display: flex;
        flex-wrap: wrap;
    }
    .notice-col {
        display: flex;
    }
</style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 nopadding">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for photography in photographies %}
                            <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for photography in photographies %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                <img class="img-responsive" src="{{ vich_uploader_asset(photography, 'file')|imagine_filter('main_photography_large') }}" alt="...">
                                <div class="carousel-caption">
                                    <h3>{{ photography.title }}</h3>
                                    <p>{{ photography.caption }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="main-text-sm hidden-xs hidden-md hidden-lg">
                    <div class="col-md-12 text-center">
                        <h1 class="title">Bomba del Reino de Bélgica</h1>
                        <h3>Decimocuarta Compañía de Bomberos de Valparaíso</h3>
                    </div>
                </div>
                <div class="main-text-md hidden-sm hidden-xs">
                    <div class="col-md-12 text-center">
                        <h1 class="title">Bomba del Reino de Bélgica</h1>
                        <h3>Decimocuarta Compañía de Bomberos de Valparaíso</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Noticias</h1>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row notice-row">
                {% for notice in notices %}
                    <div class="col-xs-12 col-md-4 notice-col" data-toggle="modal" data-target="#modalShow{{ notice.id }}">
                        <div class="thumbnail">
                            {% if notice.photographies is not empty %}
                                {% if notice.photographies[0] %}<img class="img-responsive img-rounded" src="{{ vich_uploader_asset(notice.photographies[0], 'imagefile')|imagine_filter('notice_photography_large') }}"/>{% endif %}
                            {% endif %}
                            <div class="caption">
                                {% if notice.title %}<h2>{{ notice.title }}</h2>{% endif %}
                                {% if notice.updatedat %}<p><small class="text-muted">{{ notice.updatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y") }}</small></p>{% endif %}
                                {% if notice.content %}<p>{{ notice.content|truncate(350, true) }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for k, notice in notices %}
                    <div class="modal fade" id="modalShow{{ notice.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div id="carousel-notice-{{ k }}" class="carousel slide" data-ride="carousel">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                {% for photography in notice.photographies %}
                                                    <li data-target="#carousel-notice-{{ k }}" data-slide-to="{{ k }}" {% if not loop.index0 %} class="active" {% endif %}></li>
                                                {% endfor %}
                                                </ol>
                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner" role="listbox">
                                                {% for k, photography in notice.photographies %}
                                                    <div class="item {% if not loop.index0 %}{{ 'active' }}{% endif %}">
                                                        <img class="img-responsive img-rounded" src="{{ vich_uploader_asset(photography, 'imagefile')|imagine_filter('notice_photography_large') }}"/>
                                                    </div>
                                                {% endfor %}
                                                </div>
                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-notice-{{ k }}" role="button" data-slide="prev">
                                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                    <span class="sr-only">Anterior</span>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-notice-{{ k }}" role="button" data-slide="next">
                                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                    <span class="sr-only">Siguiente</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            {% if notice.title %}<h2>{{ notice.title }}</h2>{% endif %}
                                            {% if notice.updatedat %}<p><small class="text-muted">{{ notice.updatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y") }}</small></p>{% endif %}
                                            {% if notice.content %}<p>{{ notice.content }}</p>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>    
    <div id="push"></div>
        
{% endblock %}
