{% extends 'UnisystemFrontpageBundle::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <style type="text/css">
    .panel:hover {
        cursor: pointer;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h1>Integrantes</h1>
                </div>
            </div>
            {% for member in members %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="panel panel-default" data-toggle="modal" data-target="#modalShow{{ member.id }}">
                        <div class="panel-body">
                            {% if member.photography %}<img class="img-responsive img-rounded" src="{{ vich_uploader_asset(member, 'file')|imagine_filter('member_photography_large') }}"/>
                            {% else %}<img class="img-responsive img-rounded" src="{{ 'default'|imagine_filter('member_photography_large') }}"/>{% endif %}
                        </div>
                        <div class="panel-footer text-center">
                            <h4 class="name"><strong>{% if member.name %}{{ member.name }}{% endif %}</strong></h4>
                            <p><em>{% if member.role %}{{ member.role.name }}{% else %}&nbsp;{% endif %}</em></p>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="modalShow{{ member.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            {#}
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h3 class="modal-title" id="myModalLabel">Ficha de Bombero</h3>
                            </div>
                            {#}
                            <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                                        {% if member.photography %}<img class="img-responsive img-rounded" src="{{ vich_uploader_asset(member, 'file')|imagine_filter('member_photography_large') }}"/>
                                        {% else %}<img class="img-responsive img-rounded" src="{{ 'default'|imagine_filter('member_photography_large') }}"/>{% endif %}
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                                        <h1>{{ member.name }}</h1>
                                        <fieldset>
                                            <legend>Datos Personales</legend>
                                            <dl class="dl-horizontal">
                                                {#% if member.name %}<dt>{{ 'member.form.name'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.name }}</dd>{% endif %#}
                                                {% if member.email %}<dt>{{ 'member.form.email'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.email }}</dd>{% endif %}
                                                {% if member.phone %}<dt>{{ 'member.form.phone'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.phone }}</dd>{% endif %}
                                                {% if member.birthdate %}<dt>{{ 'member.form.birth_date'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.birthdate|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL, Y") }}</dd>{% endif %}
                                            </dl>
                                        </fieldset>
                                        <fieldset>
                                            <legend>Datos Corporativos</legend>
                                            <dl class="dl-horizontal">
                                                {% if member.role %}<dt>{{ 'member.form.role'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.role.name }}</dd>{% endif %}
                                                {% if member.admissiondate %}<dt>{{ 'member.form.admission_date'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.admissiondate|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd 'de' LLLL, Y") }}</dd>{% endif %}
                                                {% if member.code %}<dt>{{ 'member.form.code'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ member.code }}</dd>{% endif %}
                                            </dl>
                                        </fieldset>
                                        {% if member.previousroles is not empty %}
                                            <fieldset>
                                                <legend>{{ 'member.form.previous_roles'|trans({}, 'UnisystemAdminBundle') }}</legend>
                                                <ul>
                                                    {% for previousrole in member.previousroles %}
                                                        {% if previousrole.name %}<li>{{ previousrole.name }}</li>{% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </fieldset>
                                        {% endif %}

                                        {% if member.courses is not empty %}
                                            <fieldset>
                                                <legend>{{ 'member.form.courses'|trans({}, 'UnisystemAdminBundle') }}</legend>
                                                <ul>
                                                    {% for course in member.courses %}
                                                        {% if course.name %}<li>{{ course.name }}</li>{% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </fieldset>
                                        {% endif %}
                                        {#}
                                        {% set courses = [] %}
                                        {% for course in member.courses %}{% set courses = courses|merge([course.name]) %}{% endfor %}
                                        {% if courses %}<dt>{{ 'member.form.courses'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ courses|join(', ') }}</dd>{% endif %}

                                        {% set previousroles = [] %}
                                        {% for previousrole in member.previousroles %}{% set previousroles = previousroles|merge([previousrole.name]) %}{% endfor %}
                                        {% if previousroles %}<dt>{{ 'member.form.previous_roles'|trans({}, 'UnisystemAdminBundle') }}</dt><dd>{{ previousroles|join(', ') }}</dd>{% endif %}
                                        {#}
                                        {#}
                                        <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-label="Close">{{ icon('times fa-fw') }}&nbsp;Cerrar</button>
                                        {#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>    
{% endblock %}
