{% extends ':Admin:base.html.twig' %}

{% block title %}{{ 'member.edit.title'|trans({}, 'UnisystemMemberBundle') }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':Admin:icon.html.twig' %}{{ 'member.edit.title'|trans({}, 'UnisystemMemberBundle') }}</h1>
                {% include ':Admin:flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <a type="button" class="btn btn-default" href="{{ path('member_index') }}">{{ icon('list') }}&nbsp;{{ 'member.list.link'|trans({}, 'UnisystemMemberBundle') }}</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm">{{ icon('trash-o') }}&nbsp;{{ 'member.delete.link'|trans({}, 'UnisystemMemberBundle') }}</button>
                            <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'member.delete.title'|trans({}, 'UnisystemMemberBundle') }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                            <div class="col-xs-10"><p>{{ 'member.delete.message'|trans({}, 'UnisystemMemberBundle') }}</p></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="pull-right" style="height:34px;">
                                                {{ form_start(delete_form) }}
                                                    <button type="submit" class="btn btn-danger">{{ icon('trash-o') }}&nbsp;{{ 'member.delete.submit'|trans({}, 'UnisystemMemberBundle') }}</button>
                                                {{ form_end(delete_form) }}</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(edit_form, { 'style': 'horizontal' }) }}
                            {{ form_widget(edit_form) }}
                                <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                                    <button type="submit" class="btn btn-primary">{{ icon('save') }}&nbsp;{{ 'member.edit.submit'|trans({}, 'UnisystemMemberBundle') }}</button>
                                </div></div>
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var optionsCourses = {
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            includeSelectAllOption: true,
            buttonWidth: '100%',
            allSelectedText: 'Todos los Cursos',
            nonSelectedText: 'Sin Cursos',
            nSelectedText: 'cursos seleccionados',
            delimiterText: ', ',
            selectAllText: 'Seleccionar Todos',
            filterPlaceholder: 'Buscar Curso'
        };
        $('#member_courses').multiselect(optionsCourses);
        var optionsRoles = {
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            includeSelectAllOption: true,
            buttonWidth: '100%',
            allSelectedText: 'Todos los Cargos',
            nonSelectedText: 'Sin Cargo Actual',
            nSelectedText: 'cargos seleccionados',
            delimiterText: ', ',
            selectAllText: 'Seleccionar Todos',
            filterPlaceholder: 'Buscar Cargo'
        };
        $('#member_role').multiselect(optionsRoles);
        var optionsPreviousRoles = {
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            includeSelectAllOption: true,
            buttonWidth: '100%',
            allSelectedText: 'Todos los Cargos',
            nonSelectedText: 'Sin Cargos Anteriores',
            nSelectedText: 'cargos seleccionados',
            delimiterText: ', ',
            selectAllText: 'Seleccionar Todos',
            filterPlaceholder: 'Buscar Cargo'
        };
        $('#member_previous_roles').multiselect(optionsPreviousRoles);
    </script>
{% endblock %}
