{% extends ':Admin:base.html.twig' %}

{% block title %}{{ 'page.new.title'|trans({}, 'UnisystemPageBundle') }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':Admin:icon.html.twig' %}{{ 'page.new.title'|trans({}, 'UnisystemPageBundle') }}</h1>
                {% include ':Admin:flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <a type="button" class="btn btn-default" href="{{ path('page_index') }}">{{ icon('list') }}&nbsp;{{ 'page.list.link'|trans({}, 'UnisystemPageBundle') }}</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, { 'style': 'horizontal' }) }}
                            {{ form_widget(form) }}
                                <div class="form-group"><div class="col-lg-offset-3 col-lg-9">
                                    <button type="submit" class="btn btn-primary">{{ icon('save') }}&nbsp;{{ 'page.new.submit'|trans({}, 'UnisystemPageBundle') }}</button>
                                </div></div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}


