{% extends ':Admin:base.html.twig' %}

{% block title %}{{ 'pagepublication.show.title'|trans({}, 'UnisystemPageBundle') }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':Admin:icon.html.twig' %}{{ 'pagepublication.show.title'|trans({}, 'UnisystemPageBundle') }}</h1>
                {% include ':Admin:flashbag.html.twig' %}
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                                        
                    <div class="panel-heading">
                        <div class="btn-toolbar">
                            <a type="button" class="btn btn-default" href="{{ path('page_publication_index') }}">{{ icon('list') }}&nbsp;{{ 'pagepublication.list.link'|trans({}, 'UnisystemPageBundle') }}</a>
                            <a type="button" class="btn btn-warning" href="{{ path('page_publication_edit', { 'id': pagePublication.id }) }}">{{ icon('pencil') }}&nbsp;{{ 'pagepublication.edit.link'|trans({}, 'UnisystemPageBundle') }}</a>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm">{{ icon('trash-o') }}&nbsp;{{ 'pagepublication.delete.link'|trans({}, 'UnisystemPageBundle') }}</button>
                            <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-md" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">{{ 'pagepublication.delete.title'|trans({}, 'UnisystemPageBundle') }}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                            <div class="col-xs-10"><p>{{ 'pagepublication.delete.message'|trans({}, 'UnisystemPageBundle') }}</p></div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="pull-right" style="height:34px;">
                                                {{ form_start(delete_form) }}
                                                    <button type="submit" class="btn btn-danger">{{ icon('trash-o') }}&nbsp;{{ 'pagepublication.delete.submit'|trans({}, 'UnisystemPageBundle') }}</button>
                                                {{ form_end(delete_form) }}</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="panel-body">
                        <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                                <dt>{{ 'pagepublication.name'|trans({}, 'UnisystemPageBundle') }}</dt>
                                    <dd>{% if pagePublication.name %}{{ pagePublication.name }}{% endif %}</dd>
                                <dt>{{ 'pagepublication.createdAt'|trans({}, 'UnisystemPageBundle') }}</dt>
                                    <dd>{% if pagePublication.createdAt %}{{ pagePublication.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>
                                <dt>{{ 'pagepublication.updatedAt'|trans({}, 'UnisystemPageBundle') }}</dt>
                                    <dd>{% if pagePublication.updatedAt %}{{ pagePublication.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}{% endif %}</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
{% endblock %}

